<ion-view title="Account Info">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon">
        </button>
    </ion-nav-buttons>

    <ion-content scroll="false">
        <div class="card">
            <div class="item item-divider">
                Total Account Value
            </div>
            <div class="item item-text-wrap">${{account.TotalAccountValue}}</div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Available to Invest
            </div>
            <div class="item item-text-wrap">${{account.AvailableCashBalance}}</div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Notes
            </div>
            <div class="item item-text-wrap">${{account.OutstandingPrincipalOnActiveNotes}}</div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Note Trader Winning Bids
            </div>
            <div class="item item-text-wrap">${{account.PendingInvestmentsSecondaryMkt}}</div>
        </div>
    </ion-content>
    </ion-view>