<ion-header-bar class="bar-calm">
    <h1 class="title">Filters</h1>
</ion-header-bar>
<ion-content>
    <div class="row">
        <div class="col">
            <button class="button button-outline button-small button-block button-positive" ng-click="cancel()">Cancel</button>
        </div>
        <div class="col">
            <button class="button button-small button-block button-positive" ng-click="apply()">Apply</button>
        </div>
    </div>
    <div class="list">
        <div class="item item-divider">Category</div>
        <ion-list ng-repeat="category in filters.categories">
            <ion-checkbox ng-model="category.isSet">{{category.title}}</ion-checkbox>
        </ion-list>
        <div class="item item-divider">Borrower</div>
        <div>
            <div>Prosper Score >= {{filters.prosperScore}}</div>
            <div class="item range">
                0<input type="range" name="prosperScore" min="0" max="11" ng-model="filters.prosperScore">11
            </div>
        </div>
    </div>
</ion-content>
