<ion-view title="Listing Detail">
    <ion-nav-buttons side="left">
        <button menu-toggle="'left'" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="row">
            <div class="col-20" style="display: inherit;">
                <img style="float:left;" ng-src="{{listing.ListingTitle | listingTypeToImgSrc}}"/>
            </div>
            <div class="col-80" style="white-space: normal;">
                <h2>{{listing.ListingTitle}}</h2>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col light-border col-border">
                    {{listing.ListingRequestAmount | currency}}<br/>requested
                </div>
                <div class="col light-border col-border">
                    {{listing.ListingTerm}}<br/>months
                </div>
                <div class="col light-border col-border">
                    {{listing.LenderYield * 100 | number:2}}%<br/>lender yield
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">Borrower Prosper Rating: {{listing.ProsperRating}}</div>
            <div class="row">
                <div class="col">
                    has FICO of {{listing.FICOScore}} and Prosper Score of {{listing.ProsperScore}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    works as {{listing.Occupation}}
                </div>
                <div class="col">
                    for {{listing.MonthsEmployed / 12 | number:1}} years
                </div>
            </div>
            <div class="row">
                <div class="col">earns {{listing.IncomeRange | incomeRange }}.</div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col light-border col-border">-->
                    <!--{{listing.ListingRequestAmount | currency}}<br/>requested-->
                <!--</div>-->
                <!--<div class="col light-border col-border">-->
                    <!--{{listing.ListingTerm}}<br/>months-->
                <!--</div>-->
                <!--<div class="col light-border col-border">-->
                    <!--{{listing.LenderYield * 100 | number:2}}%<br/>lender yield-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="card">
            <div class="item item-divider">History</div>
            <div class="row">
                <div class="col">
                    credit history started
                </div>
            </div>
        </div>
        <div style="text-align: right;margin-right: 10px;" ng-click="invest()">
            <button class="button button-positive">
                Invest
            </button>
        </div>
    </ion-content>

</ion-view>