<ion-view title="Listings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ion-gear-b"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list class="item-button-right">
            <ion-item ng-repeat="listing in listings">
                <a class="item" href="#/listing/{{listing.ListingNumber}}">
                    <div class="row">
                        <div class="col-20" style="display: inherit;">
                            <img style="margin-left:-20px;" ng-src="{{listing.ListingTitle | listingTypeToImgSrc}}"/>
                        </div>
                        <div class="col-80" style="white-space: normal;">
                            <span style="font-size:24px;">{{listing.ListingTitle}}</span><br/>
                            {{listing.ListingRequestAmount|currency}}<br/>
                            {{ listing.ListingTerm }} months @ {{listing.BorrowerRate * 100  | number:2}}%
                        </div>
                    </div>
                    <div class="row">
                        Prosper Rating {{listing.ProsperRating}} | Prosper Score {{listing.ProsperScore}}<br/>
                        FICO {{listing.FICOScore}}
                    </div>
                </a>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="query()" distance="1%" ng-if="hasMore"></ion-infinite-scroll>
    </ion-content>
</ion-view>