<ion-view title="Sign In">
  <ion-content>
    <div class="row">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="login.user.u">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="login.user.p">
        </label>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <div class="padding-left">
          <input type="checkbox" ng-model="login.rememberMe"/>
          <span style="margin-left: 5px;">Remember Me</span>
        </div>

      </div>
    </div>

    <!--<div class="item item-checkbox text-right" style="border-color:transparent;">
      <label class="checkbox">
        <input type="checkbox"/>
      </label>
      Remember Me



</div>-->

    <div class="row padding">
      <div class="col">
        <button class="button button-block button-positive" ng-click="signIn()">
          Sign In
        </button>
      </div>
    </div>

    <!--<div class="row">
      <div class="col">
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
      </div>
    </div>-->
  </ion-content>
</ion-view>
