<ion-view title="Loan Detail">
    <ion-nav-buttons side="left">
        <button menu-toggle="'left'" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="row">
            <div><h3>{{listing.ListingTitle}}</h3></div>
        </div>
        <div class="row">
            <div class="col-34"><h4>{{note.LoanNumber}}</h4></div>
            <div><h4>{{note.NoteStatus | noteStatus }}</h4></div>
        </div>
        <div class="card">
            <div class="item item-divider">Terms</div>
            <div class="row">
                <div>{{note.Term}} months @ {{note.BorrowerRate * 100 | number:2}}%</div>
            </div>
            <div class="row">
                <div class="col-33">Invested:</div>
                <div>{{note.AmountParticipation | currency}}</div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">Current Status</div>
            <div class="row">
                <div class="col-33">Principal:</div>
                <div>{{note.PrincipalBalance | currency}}</div>
            </div>
            <div class="row">
                <div class="col-33">Interest Paid:</div>
                <div>{{note.InterestPaid | currency}}</div>
            </div>
            <div class="row">
                <div class="col-33">Remaining:</div>
                <div>{{note.Term - note.AgeInMonths }} months</div>
            </div>
        </div>
    </ion-content>

</ion-view>