<ion-header-bar class="bar-calm">
    <h1 class="title">Filters</h1>
</ion-header-bar>
<ion-content>
    <div class="row">
        <div class="col">
            <button class="button button-outline button-small button-block button-positive" ng-click="cancel()">Cancel</button>
        </div>
        <div class="col">
            <button class="button button-small button-block button-positive" ng-click="apply()">Apply</button>
        </div>
    </div>
    <div class="list">
        <div class="item item-divider">Status</div>
        <ion-checkbox ng-model="filters['current']" ng-true-value="'NoteStatus eq 1'">Current</ion-checkbox>
        <ion-checkbox ng-model="filters['chargeoff']" ng-true-value="'NoteStatus eq 2'">Charge Off</ion-checkbox>
        <ion-checkbox ng-model="filters['defaulted']" ng-true-value="'NoteStatus eq 3'">Defaulted</ion-checkbox>
        <ion-checkbox ng-model="filters['completed']" ng-true-value="'NoteStatus eq 4'">Completed</ion-checkbox>
        <ion-checkbox ng-model="filters['inFinalPayment']" ng-true-value="'NoteStatus eq 5'">In Final Payment</ion-checkbox>
        <ion-checkbox ng-model="filters['cancelled']" ng-true-value="'NoteStatus eq 6'">Cancelled</ion-checkbox>
    </div>
</ion-content>