<ion-view title="My Notes">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ion-gear-b"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list class="item-button-right">
            <ion-item ng-repeat="note in notes">
                <a class="item item-icon-right" href="#/note/{{note.LoanNoteID}}">
                    <div>
                        <div class="row">
                            <div class="col-50">
                                {{note.LoanNoteID}}
                            </div>
                            <div style="text-align: right;" class="col-40 {{note.NoteStatus | noteStatusClass}}">
                                <span >{{ note.NoteStatus | noteStatus }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                Remaining Principal: {{note.PrincipalBalance | currency }} @ {{note.BorrowerRate * 100 | number:2}}%
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                Interest Earned: {{note.InterestPaid | currency}}
                            </div>
                        </div>
                    </div>
                    <i class="icon ion-android-more-vertical"></i>
                </a>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="query()" distance="1%" ng-if="hasMore"></ion-infinite-scroll>
    </ion-content>
</ion-view>